.profile__edit-button {
    width: 24px;
    height: 24px;
    margin-left: 18px;
    margin-top: 15px;
    background: transparent url(../../../images/Edit\ Button.svg) center no-repeat;
    border: none;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.5;
}

@media (min-width: 0px) and (max-width: 880px) {
    .profile__edit-button {
        margin-left: 10px;
        margin-top: 5px;
        width: 18px;
        height: 18px;

    }
}