.popup__input {
    border: none;
    border-bottom: 1px rgba(0, 0, 0, .2) solid;
    width: 358px;
    min-height: 27px;
    /* position: relative; */
}

.popup__input:nth-of-type(1) {
    margin-bottom: 30px;
}

@media (min-width: 0px) and (max-width: 880px) {
    .popup__input {
        width: 238px;
    }
}