.profile {
    display: flex;
    max-width: 880px;
    min-height: 120px;
    margin: 0 auto;
    justify-content: space-between;

}
@media (min-width: 0px) and (max-width: 880px) {
    .profile {
    max-width: 282px;
    min-height: 286px;
    margin-top: 42px;
    flex-direction: column;
    }
}