.profile__header {
    display: flex;
}

@media (min-width: 320px) and (max-width: 767px) {
    .profile__header {
        margin-top: 26px;
        max-width: 282px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        padding: 0;

    }
}