.header {
    max-width: 880px;
    min-width: 321px;
    min-height: 74px;
    border-bottom: 1px #545454 solid;
    margin: 45px auto 0;
}
@media (min-width: 320px) and (max-width: 767px) {
 .header {

     max-width: 320px;
     min-height: 56px;
     margin-top: 28px;
    
 }   
}