.popup__name {
    border: none;
    border-bottom: 1px rgba(0, 0, 0, .2) solid;
    margin-bottom: 30px;
    width: 358px;  
}
@media (min-width: 320px) and (max-width: 767px) {
    .popup__name {
        width: 238px;
    }
}