.profile__title {
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    margin: 0;

}

@media (min-width: 320px) and (max-width: 767px) {
    .profile__title {
        max-width: 189px;
        /* max-height: 26px; */
        font-size: 27px;
        line-height: 33px;
        margin: 0 auto;
        /* position: relative; */

    }
}