.profile__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 5px;
    max-width: 336px;
    max-height: 18px;

}

@media (min-width: 320px) and (max-width: 767px) {
    .profile__text {
        line-height: 17px;
        font-size: 14px;
        max-width: 282px;
        max-height: 14px;
        text-align: center;
    }
}