.profile__avatar {
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    margin-right: 30px;
}

@media (min-width: 0px) and (max-width: 880px) {
    .profile__avatar {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
       
       
    }
}