.profile__info {
    margin: auto;
    position: relative;
    max-width: 336px;
    max-height: 73px;

}

@media (min-width: 320px) and (max-width: 767px) {
    .profile__info {
        max-width: 282px;
        max-height: 54px;
    }
}