.footer {
    max-width: 880px;
    margin: 67px auto 60px;
}

@media (min-width: 320px) and (max-width: 767px) {
   .footer {
    max-width: 282px;
    max-height: 14px;
    margin: 48px auto 36px;
   }
}